.frend {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frendPhoto {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}