.post {
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
