.App {
  display: grid;
  height: 100vh;
  padding: 15px;
  grid-template-areas: 'h h'
                       'n c';
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr;
  gap: 20px
}

.content {
  grid-area: c;
}

